<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin:0; padding:0; font-family: Arial, sans-serif; background-color:#0b0b0b; color:#ffffff;">
    <table align="center" width="100%" cellpadding="0" cellspacing="0" style="max-width:600px; margin:0 auto; border-collapse:collapse;" class="container">
        <tr>
            <td align="center" style="padding:20px; background-color:#1c1c1c;">
                <h1 style="margin:0; color:#FFD700; font-size:28px;">Cards Playing</h1>
            </td>
        </tr>
        <tr>
            <td align="center">
                <img src="https://t4.ftcdn.net/jpg/00/07/22/09/240_F_7220947_kaTL6MUny3ZUFXm07YUcFupCiHia6Gpg.jpg" alt="Casino" width="100%" height="300px" style="display:block; border:0; max-width:600px;" class="hero-img">
            </td>
       </tr>
       
    </table>
    
</body>
</html>

